body {
	background: #DCDDDF url(https://cssdeck.com/uploads/media/items/7/7AF2Qzt.png);
	color: #000;
	font: 14px Arial;
	margin: 0 auto;
	padding: 0;
	position: relative;
}

.sendButton {
   margin-top: 1%;
   padding:10px;
   border-radius:10px;
}

.formPlate {
    margin-left: 40%;
    margin-top: 17%;
}

input {
    padding:10px;
    border-radius:10px;
}

